
.Container{
    
    justify-items: center;
}


.heading{
	font-size: 50px;
    font-weight: 700;
    color: #B76E79;
    justify-content: center;
    display: flex;
	margin-top: 10px;
}

.heading2{
	font-size: 32px;
    font-weight: 700;
    color: #B76E79;
    justify-content: right;
    display: flex;
	margin-top: 5px;
    margin-right: 250px;
}

.heading2{
	font-size: 32px;
    font-weight: 700;
    color: #B76E79;
    justify-content: right;
    display: flex;
	margin-top: 5px;
    margin-right: 250px;
}




